
@if(pokemons.length===0){
  <div class="alert alert-warning text-center">
    No hay paises para mostrar

  </div>
}@else {
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Altura</th>
        <th>Region</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for(pokemon of pokemons; track pokemon.results; let i=$index){
        <tr>
          <td>{{ i+1 }}</td>
          <!--<td><img [src]="pokemon.sprites.back_default" [alt]="pokemon.name" [width]="50" ></td>
          <td>{{ pokemon.results[pokemons.name] }}</td>
          <td>{{ pokemon.types }}</td>
          <td>{{ pokemon.height | number}}</td>
          <td>{{ pokemon.location_area_encounters }}</td>
          <td><a [routerLink]="['/pokemons/by', pokemon.id]">Ver más</a></td>-->
        </tr>
      }
    </tbody>
  </table>
}

